{% extends 'layout.html' %}

{% block content %}
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker2').datetimepicker({
                language: 'cn',
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayBtn: true,
                minView: 2
            });
        });
    </script>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> 新建部门 </h3>
            </div>
            <div class="panel-body">
                <form method="post" novalidate>
                    {% csrf_token %}
                    {% for field in form %}
                        <label>{{ field.label }}</label>
                        <span style="color: red;">{{ field.errors.0 }}</span>
                        {{ field }}
                    {% endfor %}
                    <p></p>
                    <button type="submit" class="btn btn-primary">提 交</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
