{% extends 'layout.html' %}

{% block content %}
<script>
    //自定义执行信息删除提示判断，参数uu是成功的删除url地址
    function doDel(uu){
        if(confirm("确定要删除吗？")){
            //网页跳转
            window.location=uu;
        }
    }

</script>
    <div class="container">
        <div style="margin-bottom: 10px">
            <!--
            <a class="btn btn-success" href="{% url 'addusers' %}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>
            -->
            <a class="btn btn-success" href="{% url 'addusers_by_ModelForm' %}">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新建用户
            </a>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                用户列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>姓名</th>
                    <th>密码</th>
                    <th>年龄</th>
                    <th>手机号</th>
                    <th>入职时间</th>
                    <th>性别</th>
                    <th>所属部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for obj in queryset %}
                    <tr>
                        <th>{{ obj.id }}</th>
                        <td>{{ obj.name }}</td>
                        <td>{{ obj.password }}</td>
                        <td>{{ obj.age }}</td>
                        <td>{{ obj.phone }}</td>
                        <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                        <td>{{ obj.get_gender_display }}</td>
                        <td>{{ obj.depart.title }}</td>
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url 'editusers_by_ModelForm' obj.id %}">编辑</a>
                            <a class="btn btn-danger btn-xs" href="javascript:doDel('{% url 'delusers' obj.id %}');">删除</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
